[Desktop Entry]
Name=Chronos
Exec=chronos %F
Terminal=false
Type=Application
StartupNotify=true
Icon=com.github.francesco-gaglione.Chronos
Categories=COSMIC;
Keywords=
MimeType=
