[Desktop Entry]
Name=Cronos
Exec=cronos %F
Terminal=false
Type=Application
StartupNotify=true
Icon=com.github.francesco-gaglione.Cronos
Categories=COSMIC;
Keywords=
MimeType=
